*{
    margin: 0;
    padding: 0;
}
html,body{
    background-image: url('assets/введите текст.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Oswald', sans-serif;

}

::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
  }

.wrapper{
    position: relative;
}

.smile{
    position: absolute;
    margin-left: 135px;
    margin-top: 46px;
}

.sdohnet{
    position: absolute;
    margin-top: 301px;
    margin-left: 124px;
}

.figure{
    margin-left: 12px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 37px;
}

.neco{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 205px;
    line-height: 50px;
    margin-top: 80px;
}

.melty{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 37px;
    margin-top: 90px;
    margin-left: 12px;
}

.melty p{
    padding-top: 35px;
}

.blya{
    position: absolute;
    text-decoration: none;
    color: white;
    padding: 60px 80px;
    background-color: black;
    border: 7px solid #000000;
    border-radius: 25px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 0px;
    margin-left: 245px;
    margin-top: 105px;
    transition: all 0.5s;
}

.blya:hover{
    background-color: rgb(20, 20, 20);
    border: 7px solid rgb(20, 20, 20);
}

.icons{
    position: absolute;
    width: 75px;
    height: 285px;
    left: 60px;
    top: 750px;
}

.vk,.ut{
    padding-bottom: 15px;
}

.menu{
    width: 50px;
    height: 50px;
    margin-top: 66px;
    margin-left: 1735px;
    position: absolute;
}

.cat{
    position: absolute;
    display: flex;
    width: 790px ;
    height: 889px;
    margin-left: 0px;
    top: 200px;
}

.cathold{
    position: absolute;
    top: 191px;
    left: 1011px;
    width: 790px;
    height: 900px ;
    border-bottom: 0px solid;
    overflow: hidden;
}

